doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEjkhq1onOl0MgONlLqxj3SeJb0dpcO1s&sensor=true")
    script(src="/javascripts/application.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content